<h1><%= @task.title %></h1>

<div>
  <p><%= @task.details %></p>
</div>
<div>
  <p>Completed : <%= @task.completed %></p>
</div>

<div>
  <%= link_to "Edit", edit_task_path %>
  <%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
